/* 2.General style */

html {
  position: relative;
  height: 100%;
  width: 100%;
}
.material{
  position: relative;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #424242;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 1.6em;
  background-color:lightgray;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url(../images/main_bg.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}


h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}
h3 span{
  color:blue;
}
p {
  font-size: 15px;
  margin: 0 0 10px;
  font-weight: 400;
}


.page {
  position: relative;
  width: 100%;
  height: auto;
}
.mobile-visible {
  display: none;
  visibility: hidden;
}

.mobile-hidden {
  display: block;
  visibility: visible;
}


.padding{
    padding: 20px;
}
.padding--lg{
    padding: 45px;
}
body > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

body > footer .copyrights {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
}
/* 3.Page loading animation */
/* 4.Subpage changer */
/* 5.header */
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.header .header-content {
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (min-width: 991px) {
  .header.sticked {
    background-color:whitesmoke;
    height: 60px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  }
}

.site-title-block {
  position: relative;
  float:left;
  z-index: 1;
  text-align: center;
}

.site-title {
  color:black;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', Helvetica, sans-serif;
  line-height: 1;
  margin: 38px 0 0;
}

.site-title span {
  color:blue;
}

.header.sticked .site-title {
  margin-top: 18px;
}

.site-main {
  width: 100%;
  height: auto;
  position: relative;
}

/* Main menu */
.site-nav {
  float: right;
}
.site-main-menu {
  display: block;
  padding: 0;
  margin: 0;
}

.site-main-menu li {
  display: inline-block;
  position: relative;
  padding: 0;
  text-align: center;
  margin-top: 33px;
}

@media only screen and (min-width: 991px) {
  .header.sticked .site-main-menu li {
    margin-top: 10px;
  }
}

.site-main-menu li a,
.site-main-menu li a:hover {
  display: block;
  position: relative;
  padding: 8px 0;
  margin: 0 20px;
  text-align: center;
  color: #49515d;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
}

.site-main-menu li:last-child a {
  margin-right: 0;
}

.site-main-menu li a:hover,
.site-main-menu li.active a {
  background-color: transparent;
  opacity: 1;
}

.site-main-menu li a:after {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  width: 0;
  height: 2px;
  margin: 0 auto;
  background-color:blue;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.site-main-menu li a:hover:after,
.site-main-menu li.active a:after {
  width: 25px;
}

.main-menu-icon {
  display: block;
  font-size: 21px;
  margin-bottom: 3px;
  text-align: center;
}

/* 6.content */

/* 7.Subpages */
  /* 7.1 Home */
.profile-card{
    
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
    box-shadow:0px 15px 25px 0px rgba(0,0,0,0.1);
}
.profile-card .profile-card__header{
    background:lightblue;
    margin-bottom: 45px;
    background-image: url(../images/main_bg.png)
}
.profile-card .profile-card__header .profile-card__name{
  color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 60px 0 0;
}
.profile-card .profile-card__header .profile-card__description{
    color: white;
    font-size: 18px;
    margin: 0 50px;
}
.profile-card .profile-card__header .profile-card__sociallink{
    position: relative;
    text-align: left;
    margin: 0 65px;
    
}


.profile-card .profile-card__header .profile-card__photo--wrapper{
  max-width: 280px;
  margin-bottom: -75px;
  border: 3px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.profile-card .profile-card__header .profile-card__photo--wrapper:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 18px 24px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 18px 24px rgba(0,0,0,0.15);
  -o-box-shadow: 0px 18px 24px rgba(0,0,0,0.15); 
  box-shadow: 0px 18px 24px rgba(0,0,0,0.15);
}
.profile-card .profile-card__header .profile-card__photo--wrapper img{
  vertical-align: bottom;
  max-width: 100%;
  height: bottom;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
  
  
  /* 4.Subpages changer */
  .pt-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 1;
  }
  .subpages {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    overflow: hidden;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    perspective: 1500px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .pt-page {
    width: 100%;
    max-width: 1032px;
    height: 0;
    position: absolute;
    opacity: 0;
    top: auto;
    padding: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: transparent;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .pt-page .section-inner {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
  }
  
  
  .pt-page-body {
    position: absolute;
    width: 100%;
  }
  
  .pt-page-current,
  .no-js .pt-page {
    visibility: visible;
    z-index: 90;
    opacity: 1;
    overflow: visible;
    height: auto;
  }
  
  
  
  
  
  
  
  